@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Email không chính xác";
}

<h1>@ViewData["Title"]</h1>
<p>
    Email không chính xác.Hãy nhập lại email chính xác để lấy lại MK
     <a asp-page="/Account/ForgotPassword">Click here</a>
</p>
