@page "/CAN-XAC-THUC-EMAIL-DANG-KY.html" 
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "tHÔNG BÁO XÁC THỰC EMAIL";
    //nêu xac lap required confirm email=true
}

<h1>@ViewData["Title"]</h1>
<p>Bạn cần truy cập vào e-mail để biết cách xác thực tk</p>

